@charset "utf-8";
/* CSS Document */

/*|body*/
html,body{
	overflow:hidden;
}
body {
	font-size: 16px;
	line-height: 1;
	background-color: #FFF;
	color: white;
	-webkit-font-smoothing:antialiased;
}
#main{
	overflow:hidden;position:absolute;height:100%;width:100%;
}
/*content*/
.view{width:100%;height:100%;position:absolute;left:0px;display:none;overflow:hidden;top:100%;z-index:5;}
.view_bg{position:absolute;}


/*TNC EVENT*/
#tncEvent{top:0%;background:url(../img/page_1/case_3/bg_3.jpg) 0px 0px repeat;display:block;}
#v3_text{width:778px;background:url(../img/page_1/case_3/icon_txt.png) 0px center no-repeat;padding-left:120px;left:50%;top:50%;margin-left:-440px;top:33%;margin-top:-59px;}
#v3_body{width:1207px;height:2068px;display:block;top:50%;left:50%;margin-left:-603px;background:url(../img/page_1/case_3/line_bg.png) 0px 0px no-repeat;}
#v3_mask{width:1207px;height:0px;display:block;top:0px;left:0px;background:url(../img/page_1/case_3/line_all.png) 0px 0px no-repeat;}
#v3_mask_1{width:288px;height:0px/*642px*/;display:block;top:0px;left:0px;background:url(../img/page_1/case_3/line_1.png) 0px 0px no-repeat;font-size:0;zoom:1;}
#v3_mask_2{width:0px/*460px*/;height:91px;display:block;top:597px;left:108px;background:url(../img/page_1/case_3/line_2.png) 0px 0px no-repeat;font-size:0;zoom:1;}
#v3_mask_3{width:75px;height:0px/*156px*/;display:block;top:614px;left:530px;background:url(../img/page_1/case_3/line_3.png) 0px 0px no-repeat;font-size:0;zoom:1;}
#v3_mask_4{width:0px/*238px*/;height:69px;display:block;top:770px;right:497px;background:url(../img/page_1/case_3/line_4.png) right 0px no-repeat;font-size:0;zoom:1;left:auto;}
#v3_mask_5{width:774px;height:0px/*728px*/;display:block;top:838px;left:286px;background:url(../img/page_1/case_3/line_5.png) 0px 0px no-repeat;font-size:0;zoom:1;}/*1839*/

.v3_point{padding:0 22px;line-height:20px;font-size:16px;font-family:'din_b';position:absolute;background:url(../img/page_1/case_3/cicle.png) 0px center no-repeat;cursor:pointer;color:#fff;display:block;}
.v3_point.R{background-position:right center;}
.v3_point:visited{color:#fff;}
.v3_point:hover{color:#00703c;text-shadow:1px 1px 4px rgba(255,255,255,0.35);}
#v3_content{width:780px;height:100px;display:block;position:absolute;left:50%;margin-left:-390px;top:30%;margin-top:-59px;}
.v3_year{width:193px;height:128px;display:block;position:absolute;left:0px;top:0px;font-family:'din_b';font-size:70px;font-weight:bold;line-height:90px;color:#fff;background:url(../img/page_1/case_3/year_bg.png) 0px 0px no-repeat;text-align:center;}
.v3_txt{
	width:573px;height:auto;background:#ffd148;top:30px;left:200px;display:block;position:absolute;min-height:66px;box-shadow:2px 2px 4px rgba(0,0,0,0.35);cursor:pointer;
	transition:all 0.5s;-webkit-transition:all 0.5s;-ms-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;
}
.v3_txt p{position:relative;z-index:1;padding:0px 40px 30px;font-size:13px;line-height:17px;color:#5d4809;}
.v3_txt span{font:inherit;display:block;padding:3px 0px;text-indent:20px;}
.v3_txt .v3_more{position:absolute;right:10px;bottom:5px;font-family:'din_b';font-size:40px;line-height:1;color:#fff;display:none;text-shadow:rgba(0, 0, 0, 0.35) 1px 1px 2px;}
.v3_txt span.hide{display:none;color:#ffd148;}
.v3_txt_h{width:573px;height:30px;position:absolute;display:block;top:-30px;left:0px;background:url(../img/page_1/case_3/text_bg.png) 0px 0px no-repeat;}

.v3_btn{transition:all 0.35s;-ms-transition:all 0.35s;-moz-transition:all 0.35s;-o-transition:all 0.35s;-webkit-transition:all 0.35s;}
.v3_btn img{padding:20px;}
.v3_left{position:absolute;left:50%;margin-left:-455px;top:10px;opacity:0.75;}
.v3_right{position:absolute;left:50%;margin-left:380px;top:10px;opacity:0.75;}
.v3_btn:hover{opacity:1;}
.v3_left:hover{transform:translateX(-5px);-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);-ms-transform:translateX(-5px);-o-transform:translateX(-5px);}
.v3_right:hover{transform:translateX(5px);-webkit-transform:translateX(5px);-moz-transform:translateX(5px);-ms-transform:translateX(5px);-o-transform:translateX(5px);}

/*timeline*/
#timeline{width:100%;height:81px;display:block;position:absolute;left:0%;top:60%;background:url(../img/page_1/timeline/l.png) 0px 0px repeat-x;}
#TM_body{position:absolute;left:0px;top:0px;height:5px;display:block;padding-left:25%;padding-right:25%;}
#TM_wrapper{position:absolute;left:0px;top:0px;}
#TM_points{width:100%;height:1px;position:relative;display:block;}
#TM_ctrl{width:539px;height:35px;position:absolute;display:block;left:50%;margin-left:-270px;top:60px;background:url(../img/page_1/timeline/d.png) 0px 0px no-repeat;}
#TM_drag{width:215px;height:35px;position:absolute;left:0px;top:0px;display:block;background:url(../img/page_1/timeline/h.png) 0px 0px no-repeat;font-size:0;}
.TM_point{font-size:0px;font-family:'din_b';position:absolute;cursor:pointer;color:#fff;display:block;}
.TM_span{position:absolute;left:-9px;top:-8px;width:18px;height:24px;display:block;background:url(../img/page_1/timeline/p.png) 0px 0px no-repeat;}
.TM_text{width:66px;height:76px;display:block;text-align:center;line-height:70px;font-size:24px;left:-33px;top:-76px;position:absolute;background:url(../img/page_1/timeline/tip.png) 0px 0px no-repeat;display:none;opacity:0;
}
.TM_cur{position:absolute;left:-9px;top:-8px;width:18px;height:24px;visibility:hidden;
	transition:all 0.35s ease-out;-webkit-transition:all 0.35s ease-out;-moz-transition:all 0.35s ease-out;-ms-transition:all 0.35s ease-out;-o-transition:all 0.35s ease-out;
}
.TM_point:hover .TM_text{}
